<%- include("partials/header.ejs") %>
    <div class="container-grid">
        <main><h1>Click the button to see
            information about a Pókemon.</h1>
            <form method="GET">
                <button type="submit" formaction="/pokemon">View Pókemon</button>
            </form>
        </main>

<%- include("partials/footer.ejs") %>